.App {
  height: 100vh;
  margin: 0 auto;

  background-color: #212529 !important;
  color: white;
}

.App-header {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* HEADER ANIMATION START */

.header-title {
  width: 9ch;
  /*Typing Animation*/
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;

  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* HEADER ANIMATION END */

.App-footer {
  position: absolute;
  top: 90%;
  left: 45%;
}

.footer-text {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 700;
}
