.wrap-dictionary {
  width: 70%;
  height: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Poppins", sans-serif;
}

.wrap-dictionary section {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.2);
  margin: 20px 0;
}

.wrap-dictionary input {
  width: 100%;
  height: 40px;

  padding: 5px;
  border: 0;
  border-radius: 10px;
  outline: none;
  z-index: 1;
}

.wrap-dictionary button {
  cursor: pointer;
  font-size: 1.5rem;

  height: 40px;
  border: 1px solid white;
  background: #212529;
  border-radius: 10px;

  text-align: center;

  color: white;
  z-index: 2;
  position: absolute;
  left: 90%;
}

.wrap-dictionary button:hover {
  color: #575757;
}

.wrap-dictionary .hint {
  margin-top: 10px;
  color: #b1b1b1;
  font-style: italic;
}
