*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrap-dictionary {
  width: 60vw;
  padding: 3em;
  box-shadow: 0 1.2em 1em var(--clr-shadow);
  position: relative; 
}

.results, .photos {
  margin: 30px 0;
}


/* FORM INPUT STYLE */

.search_form {
  --size: 60px; /*Create a variable size for this form */

  border: 2px solid var(--clr-primary);
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  width: var(--size);
  height: var(--size);

  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 3px;

  margin: 30px 0;
}

.search_input {
  border: 0;
  padding: 0.7em 3em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;

  color: var(--clr-bg-light);
}

.search_submit {
  margin-left: auto; /*This will make the icon go with the search bar */

  font-size: 1.5rem;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;

  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  color: var(--clr-bg-light);
}

.search_form:focus-within {
  width: 100%;
}

.search_form:focus-within .search_input {
  opacity: 1;
  z-index: initial;
  cursor: initial;
  width: calc(100% - var(--size));
}
.search_form:focus-within .search_submit {
  background: var(--clr-primary);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: transform 500ms ease-out;
}
.search_form:focus-within .search_submit:hover,
.search_form:focus-within .search_submit:focus {
  outline: 0;
  transform: rotate(1turn);


} 

.hint {
  margin-top: 2em;
  color: var(--clr-hint);
  font-style: italic;
  letter-spacing: 1px;
}