.Results {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0 auto;

}

.Results h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
  text-transform: capitalize;
}

.meaning-result {
 box-shadow: 0.1em 0.6em 0.7em 0.3em var(--clr-shadow);
 border: 0.3px solid var(--clr-primary);
 border-radius: 20px;
 margin: 50px 0;
 padding: 10px;

}