.Synonyms {
  padding: 0;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}

.Synonyms li {
  font-size: 1.2rem;

  list-style: none;

  padding-right: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
}
