.App {
  height: 100vh;
  margin: 0 auto;
  background-color: #212529 !important;
  color: white;
}

.App-header {
  text-align: center;
}

.header-title {
  padding-top: 30px;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.App-footer {
  text-align: center;
  margin: 100px 0;
}

.footer-text {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 700;
}
